#gameBoard {
  width: 900px;
  height: 900px;
  max-height: 900px;
  max-width: 900px;
  display: grid;
  flex-direction: column;
  margin: auto;
}

h1 {
  margin: auto;
  width: 50%;
  padding: 20px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  font-size: 3em;
}

nav {
  display: flex;
  justify-content: center;
}

button {
  display: block;
  margin: 20px;
  margin-bottom: 30px;
  padding: 10px;
  width: 100px;
}

.greyscale {
  background-color: black;
  opacity: 0.3;
}

button:hover {
  color: blue;
  box-shadow: black, 4;
}

.grid-row {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.square {
  border: 1px solid;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  padding: auto;
  box-sizing: border-box;
}

.hover {
  /* background-color: black; removed entry following addition of random BG colors*/
  opacity: 0.3;
}

/* .square:hover { */
/* background-color: black; */
/* } */
