#gameBoard {
  max-width: 900px;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  margin: auto;
  display: block;
}

h1 {
  margin: auto;
  width: 50%;
  padding: 20px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  font-size: 3em;
}

button#reset {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  width: 100px;
}

.grid-row {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.square {
  border: 1px solid;
  flex-grow: 1;
  flex-shrink: 1;
  -ms-flex: auto;
  position: relative;
  padding: 25px;
  box-sizing: border-box;
}

.hover {
  /* background-color: black; removed entry following addition of random BG colors*/
  opacity: 0.3;
}

/* .square:hover { */
/* background-color: black; */
/* } */
